.btn{
    padding: 5px 15px;
    color: #fff;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    background-color: rgb(95, 29, 157);

    width: 8rem;
    height: 2.5rem;
    margin-top: 10px;
    border: none;
    font-family: Roboto,sans-serif;
    border-radius: 2px;
}
.btn:hover{
    background-color: rgb(161, 135, 186);
    color: rgb(95, 29, 157);
}