.bgcBoxInfo{
    width: 700px;
    background-color: #fff;
    padding: 10px 20px 20px 20px;
    margin: 0 auto;
    border-radius: 8px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
